.wrapper {
    display: flex;
    flex-direction: column;

    .info {
        display: flex;
        flex-direction: column;

        h1 {
            color: #12141A;
            font: 500 23px Inter;
        }

        p {
            color: #606778;
            font: 500 14px Inter;
        }
    }

    .log {
        display: flex;
        flex-direction: column;

        p {
            color: #606778;
            font: 500 12px Inter;
        }

        input {
            width: 100%;
            padding: 12px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 6px;
            border: 1px solid #CAD0DB;
            color: #7B8499;
            font: 500 14px Inter;
        }
    }

    button {
        width: 96px;
        padding: 12px;
        border-radius: 4px;
        background: var(--blue-6, #228BE6);
        margin-left: auto;
        color: var(--other-white, #FFF);
        font: 400 14px Open Sans;
        border-width: 0;
    }

    .sing {
        color: #7B8499;
        font: 500 14px Inter;
        text-align: end;
    }
}